/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication1/dist/
/SImpleWeb/target/
/TestingPack/target/
/OSGIex1/target/
/OSGImr/OSGITest2/maven-bundle-plugin-2.4.0/target/
/OSGImr/OSGITest2/target/
/OSGImr/MavenHelloService/target/
/OSGImr/HellowWorld/target/
/OSGImr/HelloWorld/target/
/OSGImr/Felix/nbproject/private/
/OSGImr/Felix/build/
/OSGImr/Tut1/target/
/OSGImr/Tut2/target/
/OSGImr/Tut3/target/
/OSGImr/Felix/dist/